<!-- Modal HTML -->
<div id="login-in" class="modal fade ">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <div class="social-buttons">
               <form accept-charset="UTF-8" action="" method="post">
                  <button class="btn icon-btn btn-block signup-login btn-large btn-facebook" name="button" type="submit" style="margin-bottom: -10px">
                  <span class="icon-container">
                  <i class="fa fa-facebook icon" aria-hidden="true"></i>
                  </span>
                  <span class="text-container">Cadastre-se com Facebook</span>
                  </button>
               </form>
              
               <div class="signup-or-separator space-1">
                  <span class="h6 signup-or-separator--text">ou</span>
                  <hr>
               </div>

                <form accept-charset="UTF-8" action="/oauth_connect?from=google_signup&amp;service=google" method="post">
                  <button class="btn icon-btn btn-block signup-login btn-large btn-google " name="button" type="submit">
                  <span class="text-container">Mais Opções de login</span>
                  </button>
               </form>
     
           
            </div>
         </div>
         <div class="modal-footer">
            <div class="clearfix">
               <span class="signup-login-form__switch-copy" style="float: left; margin-top: 7px; font-size: 16px;">Você ainda não tem uma conta?</span>
               <a onclick="$('#login-in').modal('toggle');" href="#login" data-toggle="modal" class="modal-link link-to-login-in-signup btn btn-default signup-login-form__btn-rausch-border signup-login-form__btn-font-normal signup-login-form__switch-button">
               Cadastre-se
               </a>  
            </div>
         </div>
      </div>
   </div>
</div>