
<div class="container">

<div class="row">
   <h3 class="rowHeader_host"><span style="color: #FF5A5F">Oi, <%=@user.first_name%>!</span> Vamos editar</br> o seu local</h3>
</div>

<%= render 'form' %>
</div>