<div class="container">

<div class="row">
   <h3 class="rowHeader_host"><span style="color: #FF5A5F">Oi, <%=@user.first_name%>!</span> Vamos preparar</br> você para ser um anfitrião.</h3>
</div>

<%= render 'form' %>
</div>